<!DOCTYPE html>
<div class="registerProfessor" ng-controller="RegisterProfessorController">
    <div class="container">
        <div class="jumbotron">
            <h2>Register Professor</h2>
            <form name="Professor" data-ng-submit="registerProfessor()">
                Name: <input type="text" ng-model="professor.Name" />
                Username: <input type="text" ng-model="professor.username" />
                Password: <input type="password" ng-model="professor.password" />
                <button type="submit" class="btn btn btn-default">Register</button>
            </form>
        </div>
    </div>
</div
>
